<div class="py-5 bg-grey">
  <div class="container text-white">
    <div class="row">
      <div class="col-sm-4">
        <p>© Copyright 2020 mrmaxguns<br>mrmaxguns.github.io</p>
      </div>
      <div class="col-sm">
        <p><a href="https://github.com/mrmaxguns">
          <img src="/assets/images/logos/GitHub-Mark/PNG/GitHub-Mark-Light-32px.png" alt="Github logo">
        </a></p>
      </div>
      <div class="col-sm">
        <p><a href="#" class="text-white">
          <svg class="bi bi-arrow-up-circle-fill" width="32px" height="32px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-10.646.354a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 6.207V11a.5.5 0 0 1-1 0V6.207L5.354 8.354z"/>
          </svg>
        </a></p>
      </div>
      <div class="col-sm">
        <p><a href="http://stackoverflow.com/u/13501679">
          <img src="/assets/images/logos/stackoverflow.svg" alt="stackoverflow logo" width="32px" height="32px">
        </a></p>
      </div>
    </div>
  </div>
</div>
